[submodule "3rd/http-parser"]
	path = 3rd/http-parser
	url = https://github.com/nodejs/http-parser
[submodule "3rd/kinetic-protocol"]
	path = 3rd/kinetic-protocol
	url = https://github.com/Kinetic/kinetic-protocol
[submodule "3rd/libmill"]
	path = 3rd/libmill
	url = https://github.com/sustrik/libmill
	branch = master
